@model IEnumerable<DC365_WebNR.CORE.Domain.Models.Project>
@{int indexCheck = 1 + ((int)ViewBag.CountPageNumber * 20); }

@foreach (var item in Model)
{

    string idCheck = $"check-table-{indexCheck++}";
    <tr class="row-app">

        <td class="cell-app check-cell-app">
            <input id="@idCheck" type="checkbox" class="check-table-app select-ProjId">
            <label for="@idCheck" class="label-cell"></label>
        </td>
        <td class="cell-app cell-principal ProjIdtbl" data-title="ID Proyecto">
            @Html.DisplayFor(modelItem => item.ProjId)
        </td>
        <td class="cell-app Nametbl" data-title="Nombre del proyecto">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td class="cell-app LedgerAccounttbl" data-title="Cuenta contable">
            @Html.DisplayFor(modelItem => item.LedgerAccount)
        </td>

    </tr>
}
