@model IEnumerable<DC365_WebNR.CORE.Domain.Models.Department>
@using System.Globalization;
@{int indexCheck = 1 + ((int)ViewBag.CountPageNumber * 20); }
@foreach (var item in Model)
{
    string idCheck = $"check-table-{indexCheck++}";
    <tr class="row-app">

        <td class="cell-app check-cell-app">
            <input id="@idCheck" type="checkbox" class="check-table-app selectDepartment">
            <label for="@idCheck" class="label-cell"></label>
        </td>
        <td class="cell-app cell-principal DepartmentIdtbl" data-title="Id Departamento">
            @Html.DisplayFor(modelItem => item.DepartmentId)
        </td>
        <td class="cell-app Nametbl" data-title="Nombre del Departamento">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td class="cell-app QtyWorkerstbl" data-title="Trabajadores">
            @Html.DisplayFor(modelItem => item.QtyWorkers)
        </td>
        <td class="cell-app StartDatetbl" data-title="Fecha inicial">
            @Convert.ToDateTime(item.StartDate).ToString("d", CultureInfo.CreateSpecificCulture(ViewBag.Culture))

        </td>
        <td class="cell-app EndDatetbl" data-title="Fecha final">
            @Convert.ToDateTime(item.EndDate).ToString("d", CultureInfo.CreateSpecificCulture(ViewBag.Culture))

        </td>
        <td class="cell-app Descriptiontbl" data-title="Descripción">
            @Html.DisplayFor(modelItem => item.Description)
        </td>
    </tr>
}