@model IEnumerable<DC365_WebNR.CORE.Domain.Models.Payroll>
@using System.Globalization;
@{int indexCheck = 1 + ((int)ViewBag.CountPageNumber * 20); }
@foreach (var item in Model)
{

    string idCheck = $"check-table-{indexCheck++}";
    <tr class="row-app">

        <td class="cell-app check-cell-app">
            <input id="@idCheck" type="checkbox" class="check-table-app selectPayroll">
            <label for="@idCheck" class="label-cell"></label>
        </td>
        <td class="cell-app cell-principal PayrollIdtbl" data-title="ID Nomina">
            @Html.DisplayFor(modelItem => item.PayrollId)
        </td>
        <td class="cell-app Nametbl" data-title="Nombre de nomina">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td class="cell-app QtyWorkerstbl" data-title="Frecuenca de pago">
            @Html.DisplayFor(modelItem => item.PayFrecuency)
        </td>
        <td class="cell-app StartDatetbl" data-title="Valida desde">
            @Convert.ToDateTime(item.ValidFrom).ToString("d", CultureInfo.CreateSpecificCulture(ViewBag.Culture))

        </td>
        <td class="cell-app EndDatetbl" data-title="Valida hasta">
            @Convert.ToDateTime(item.ValidTo).ToString("d", CultureInfo.CreateSpecificCulture(ViewBag.Culture))

        </td>
        <td class="cell-app Descriptiontbl" data-title="Descripción">
            @Html.DisplayFor(modelItem => item.Description)
        </td>

    </tr>
}