@model IEnumerable<DC365_WebNR.CORE.Domain.Models.Loan>
@using System.Globalization;
@{
    ViewData["Title"] = "LoansDisabled";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link href="~/css/Department.css" rel="stylesheet" />
<div class="contDasboard">

    <!--Opciones del Formulario-->
    <div class="opcioneslistpage">
        <div class="menuoptions-flex">
            <ul class="menuoptions">
                
                <li>
                    <a class="btn2 btn-app">
                        <i class="fa fa-trash"></i>
                        <input type="submit" value="Eliminar" form="DeleteLoan-disable" class="inputTypesubmit" />
                    </a>
                </li>
               

                

            </ul>
            <ul class="menuoptions">
                <li class="OpcActualizar">
                    <a class="btn2 btn-app">
                        <i class="fa fa-repeat "></i>
                    </a>
                </li>
                <li class="close-loan-Disabled">
                    <a class="btn2 btn-app ">
                        <i class="fa fa-close i-close"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- tabla -->
    <div class="ContenedorListEntity custonContainer">
        <h3 class="TituloEstandar">Préstamos inactivos</h3>

        <div class="contenPretabla">
            <div class="form-group-BuscadorDepartment">

                @* <input type="text" class="form-control-FiltroDepartment buscador buscarTblLoan-disable" placeholder="Filtro">*@
                <!-- filtro-->
                @{await Html.RenderPartialAsync("ViewFilter");}

                <span class="tituloStatusDepartment">Habilitar préstamo</span>
                <label class="switch clickCheckeditar">
                    <input type="checkbox" id="DisabledLoan" class="idCheckeditar">
                    <span class="slider round" for="DisabledLoan"></span>

                </label>
            </div>
        </div>

        <div class="scrollbar-TablePrimari">

            <div class="container-table-app" id="content-scroll" >
                <table class="table-app-width table-app tblLoan-disable" id="MainTable">
                    <thead>
                        <tr class="row-header-app">
                            <td class="cell-app check-cell-app cell-header-app">
                                <input id="check-table-0" type="checkbox" class="check-table-app">
                                <label for="check-table-0"> </label>
                            </td>
                            <td class="cell-app  cell-header-app">Id Código</td>
                            <td class="cell-app  cell-header-app">Nombre del código</td>
                            <td class="cell-app  cell-header-app">Proyecto</td>
                            <td class="cell-app  cell-header-app">Categoría de proyecto</td>
                            <td class="cell-app  cell-header-app">Válido desde</td>
                            <td class="cell-app  cell-header-app">Válido hasta</td>
                            <td class="cell-app  cell-header-app">Cuenta contable</td>
                            <td class="cell-app  cell-header-app">Departamento</td>
                            <td class="cell-app  cell-header-app">Descripción</td>
                        </tr>
                    </thead>
                    <tbody class="tbody-Table-Loans">
                        @{int indexCheck = 1; }
                        @foreach (var item in Model)
                        {

                            string idCheck = $"check-table-{indexCheck++}";
                            <tr class="row-app">

                                <td class="cell-app check-cell-app">
                                    <input id="@idCheck" type="checkbox" class="check-table-app selectLoans-disable">
                                    <label for="@idCheck" class="label-cell"></label>
                                </td>
                                <td class="cell-app cell-principal LoanIdIdTbl" data-title="Id Código">
                                    @Html.DisplayFor(modelItem => item.LoanId)
                                </td>
                                <td class="cell-app Nametbl" data-title="Nombre del código">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td class="cell-app ProjIdtbl" data-title="Proyecto">
                                    @Html.DisplayFor(modelItem => item.ProjId)
                                </td>

                                <td class="cell-app ProjCategoryIdtbl" data-title="Categoria de proyecto">
                                    @Html.DisplayFor(modelItem => item.ProjCategoryId)
                                </td>
                                <td class="cell-app ValidFromtbl" data-title="Valido desde">
                                    @Convert.ToDateTime(item.ValidFrom).ToString("d", CultureInfo.CreateSpecificCulture(ViewBag.Culture))
                                </td>
                                <td class="cell-app ValidTotbl" data-title="Valido hastao">
                                    @Convert.ToDateTime(item.ValidTo).ToString("d", CultureInfo.CreateSpecificCulture(ViewBag.Culture))
                                </td>
                                <td class="cell-app LedgerAccounttbl" data-title="Cuenta contable">
                                    @Html.DisplayFor(modelItem => item.LedgerAccount)
                                </td>
                                <td class="cell-app DepartmentIdtbl" data-title="Departamento">
                                    @Html.DisplayFor(modelItem => item.DepartmentId)
                                </td>

                                <td class="cell-app Descriptiontbl" data-title="Descripción">
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>


        </div>
    </div>

   
    <form asp-action="delete" class="collapse" id="DeleteLoan-disable">
    </form>

    <!-- deshabilitar -->
    <form asp-action="updateStatus" class="updateStatusLoan-disable collapse" id="updateStatusLoan-disable">
    </form>

</div>

<script src="~/js/LoansDisabled.js" type="module"></script>
<script src="~/js/table-features.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        initTableFeatures({
            filterInput: '.textFilterMask',
            table: '#MainTable',
            tbody: '.tbody-Table-Loans'
        });
    });
</script>
@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


