@model IEnumerable<DC365_WebNR.CORE.Domain.Models.Job>
@{
    ViewData["Title"] = "Jobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string version = $"dt={DateTime.Now.ToString("yyyyMMddhhmmss")}";

}

<link href="~/css/Department.css" rel="stylesheet" />
<div class="contDasboard">
    <input type="hidden" class="Image" />
    <!--Opciones del Formulario-->
      <div class="opcioneslistpage">
        <div class="menuoptions-flex">
            <ul class="menuoptions">

                <li class="NewJob">
                    <a class="btn2 btn-app">
                        <i class="fa fa-plus-square-o"></i>
                        Nuevo
                    </a>
                </li>

                <li class="EditJob">
                    <a class="btn2 btn-app">
                        <i class="fa fa-edit "></i>
                        Editar
                    </a>
                </li>

                <li>
                    <a class="btn2 btn-app">
                        <i class="fa fa-trash"></i>
                        <input type="submit" value="Eliminar" form="DeleteJobs" class="inputTypesubmit" />

                    </a>
                </li>

                <li class="li-separador">
                    <a class="btn2 btn-app" style="border: 1px solid #fff;">
                    </a>
                </li>

                <li class="JobDisebled">
                    <a class="btn2 btn-app">
                        <i class="fa fa-sitemap"></i>
                        Cargos inactivos
                    </a>
                </li>

            </ul>

            <ul class="menuoptions">
                <li class="OpcActualizar">
                    <a class="btn2 btn-app ">
                        <i class="fa fa-repeat"></i>
                    </a>
                </li>
                <li class="CerrarModulo">
                    <a class="btn2 btn-app">
                        <i class="fa fa-close i-close"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="opcioneslistpageForm collapse">
        <div class="menuoptions-flex">
            <ul class="menuoptions">
                <li>
                    <a class="btn2 btn-app">
                        <i class="fa fa-save"></i>
                        <input type="submit" value="Guardar" form="createAndEditJobs" class="btn2" />
                    </a>
                </li>
            </ul>

            <ul class="menuoptions">
                <li class="OpCloseform">
                    <a class="btn2 btn-app ">
                        <i class="fa fa-close i-close"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <!-- tabla de cargos activos -->
    <div class="ContenedorListEntity custonContainer">
        <h3 class="TituloEstandar">Cargos</h3>


        <div class="contenPretabla">
            <div class="form-group-BuscadorDepartment">

                <!-- filtro-->
                @{await Html.RenderPartialAsync("ViewFilter");}
                <span class="tituloStatusDepartment">Inhabilitar cargo</span>
                <label class="switch clickCheckeditar">
                    <input type="checkbox" id="Diseblejob" class="idCheckeditar" checked="checked">
                    <span class="slider round" for="Diseblejob"></span>

                </label>
            </div>

        </div>
        <div class="scrollbar-TablePrimari">

            <div class="container-table-app" id="content-scroll">
                <table class="table-app tblCargosActivos" id="MainTable">
                    <thead>
                        <tr class="row-header-app">
                            <td class="cell-app check-cell-app cell-header-app">
                                <input id="check-table-0" type="checkbox" class="check-table-app">
                                <label for="check-table-0"> </label>
                            </td>
                            <td class="cell-app  cell-header-app">Id. Cargo</td>
                            <td class="cell-app  cell-header-app">Nombre de cargo</td>
                            <td class="cell-app  cell-header-app">Descripción</td>

                        </tr>
                    </thead>
                    <tbody class="tbody-Table-job">
                        @{int indexCheck = 1; }
                        @foreach (var item in Model)
                        {

                            string idCheck = $"check-table-{indexCheck++}";
                            <tr class="row-app">

                                <td class="cell-app check-cell-app">
                                    <input id="@idCheck" type="checkbox" class="check-table-app selectJobs">
                                    <label for="@idCheck" class="label-cell"></label>
                                </td>
                                <td class="cell-app cell-principal JobIdtblpos" data-title="Id de cargo">
                                    @Html.DisplayFor(modelItem => item.JobId)
                                </td>
                                <td class="cell-app Nametblcr" data-title="Nombre de cargo">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td class="cell-app DescriptionIdtblcr" data-title="Descripción)">
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <!-- nuevo empleado -->
    @{await Html.RenderPartialAsync("NewAndEditJobs", new DC365_WebNR.CORE.Domain.Models.Job());}

    <!-- Eliminar-->
    <form asp-action="delete" class="DeleteJobs collapse" id="DeleteJobs">
    </form>

    <!-- deshabilitar-->
    <form asp-action="updateStatus" class="form-Diseblejob collapse" id="form-Diseblejob">
    </form>

</div>
<script src="~/js/Jobs.js"></script>
@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

